/* vim: set et ts=2 sw=2: */
@charset "iso-8859-1";

.clear
{
  clear: both;
  display: block;
  padding-bottom: 1px;  /* for Gecko-based browsers */
  margin-bottom: -1px;  /* for Gecko-based browsers */
}

.hide
{
  display: none !important;
}

#pageWrapper
{
  min-width: 40em;  /* IE doens't understand this property. EMs are used
           so that as the font size increases, the proportional
           limitations (min-width) increase with it, rather
           than creating a middle column that can only fit
           3 or 4 characters in it. */
  width: auto;
}
* html #pageWrapper
{
  /* \*/
    word-wrap: break-word;
  /* invalid CSS but keeps IE from breaking horribly under narrow viewports */
}
#outerColumnContainer-none {
  border-left: none;
  border-right: none;
}
#outerColumnContainer-left {
  border-left: solid 14em #fff;
  border-right: none;
}
#outerColumnContainer-right {
  border-left: none;
  border-right: solid 14em #fff;
}
#outerColumnContainer-both
{
  /* reserves space for the left and right columns. you can use either
   * padding, margins, or borders, depending on your needs. however you
   * can use the border method to create a background color for both left
   * and right columns
   */
  border-left: solid 14em #fff;
  border-right: solid 14em #fff;
}
#innerColumnContainer
{
  margin: 0 0px;    /* compensate for the borders because of
           100% width declaration */
  width: 100%;
  z-index: 1;
}
#leftColumn, #rightColumn
{
  overflow: visible;  /* fix for IE italics bug */
  position: relative;  /* fix some rendering issues */
}
#middleColumn, * html #SOWrap
{
  overflow: visible;
  position: static; /* if position: relative, drop-down AJAX autocomplete doesn't appear */
}
#SOWrap
{
  float: left;
  margin: 0 0 0 0;
  width: auto;
  z-index: 3;
}
#middleColumn
{
  float: right;
  margin: 0 0 0 0;
  width: 100%;
  z-index: 5;
  background-color: white;
}
#leftColumn
{
  float: left;
  margin: 0 0 0 -14em;
  width: 14em;
  z-index: 6;
}
#rightColumn
{
  float: right;
  width: 14em;
  margin: 0 -14em 0 0;
  z-index: 6;
}
#outerColumnContainer-both,
#outerColumnContainer-left,
#outerColumnContainer-right,
#outerColumnContainer-none
{
  border-left-color: #e0e0e0;  /* left column background color */
  border-right-color: #e0e0e0;  /* right column background color */
  background-color: #fff;    /* set the background color for the middle column here */
}
